extends layout

block content
  img(src='images/airvantage.png', alt='')
  h1= "Airvantage API"
  p <p><a href="/whoami">My user info</a></p><p><a href="/systems">My systems</a></p><p><a href="/applications">My applications</a>
  p <a class='logout' href="/logout">LOGOUT</a>